/* General setup */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Peddana', serif;
font-size: 18px;
line-height:1.0;
  min-width: 800px;
  max-width: 1200px;
  letter-spacing: 1px;


}

/* Layout */

section {

  float: left;
  width: 50%;

}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
  text-decoration: none;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 10px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* ECRIVEZ VOTRE CODE CI-DESSOUS */
a{color:rgb(180, 96, 145);}
nav ul li
{

  border: 1px solid rgb(180, 96, 145);
  padding : 20px;
  margin-top: 30px;
  text-align: center;
list-style: none;

font-size: 27px;
text-decoration: none;
width: 200px;
}
ul li{
  list-style-type: square;
}
h1{
  font-family: 'Josefin Slab', serif;
  font-family: 'Peddana', serif;
  text-align: center;
  padding-bottom: 2px;
}
img {
  width:14px;
  height:14px;
}
p{
  padding-top: 8px;
}

